<section>
    <h3>create new blog post</h3>

<form class='new-post-form'>
<div>
    <label for='post-title'></label>
    <input type='text' id='post-title' name='post-title' placeholder="Your post title"/>
</div>
<div>
    <label for='post-text'></label>
    <textarea name='post-text' id='post-text' placeholder="What are you going to blog about today?"></textarea>
</div>
<div>
    <button type='submit' class='btn'>submit</button>
</div>
</form>
</section>
{{#if posts.length}}
<seciton>
    <h2>your blog library</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> blogpost-info post}}
            <a href='/dashboard/edit/{{post.id}}' class='edit-link'>edit</a>
        </li>
        {{/each}}
    </ul>
</seciton>
{{/if}}

<script src="/javascript/create-new-post.js"></script>